*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-desktop: #2E1012;
    --backgound-main: #F3CC4D;
}
.container-fluid{
    display: flex;
    background-color: var(--background-desktop);
    height: 100vh;
    justify-content: center;
}  
.background img{
    position: absolute;
    left: 5%;
    top: 12%;
    z-index: 0;
    width: 175vh;
    opacity: 0.45;
} 
.col{
    background-color: var(--backgound-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    height: 100vh;
    z-index: 2;
}
.img-main{
   width: 269px;
   height: 116px;
   margin: 8.8vh 13.392vh 8.096vh 13.392vh;   
}
.text-center{
    width: 52vh;
    font-family: "Indie Flower", cursive;
    margin-bottom: 11vh;
}
.img-bombom1{
    margin-top: 30vh;
    margin-right: 10vh;
    z-index: 2;
}
.img-bombom2{
    margin-top: 32vh;
    margin-left: 10vh;
    z-index: 2;
}
img{
    width: 45vh;
}
.bt{
    background-color: var(--background-desktop);
    font-family:"Indie Flower", cursive;
    color: white;
    width: 28vh;
    height: 7vh;
    font-size: 30px;
    border: #2E1012;
}


@media (max-width: 768px){
    .container-fluid{
        position: fixed;
    }
    .col{
        z-index: 0;
        position: fixed;
    }
    .background img{
      visibility: hidden;
    } 
    .img-bombom2{
        visibility: hidden;
    }
    .img-bombom1{
        margin-right: -56vh;
        opacity: 0.2;
        z-index: 1;
    }
    .img-bombom1 img{
        width: 60vh;
    }
    .text-center{
        width: 45vh;
        font-family: "Indie Flower", cursive;
        color: black;
        font-weight: 400;
        margin-bottom: 9vh;
    }
    .bt{
        height: 10vh;
        width: 40vh;
        margin-top: -5vh;
    }
}