*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-desktop: #2E1012;
    --backgound-main: #F3CC4D;
}
.container-fluid{
    background-color: var(--background-desktop);
}  
.background img{
    width: 175vh;
} 
.col{
    background-color: var(--backgound-main);
    max-width: fit-content;
}
.text-center{
    font-family: "Indie Flower", cursive;
}
.img-bombom1{
    margin-top: 30vh;
    margin-right: 10vh;
}
.img-bombom2{
    margin-top: 35vh;
    margin-left: 10vh;
}
img{
    width: 45vh;
}

@media (max-width: 768px){
    .col{
        z-index: 0;
        position: fixed;
    }
    .text-center{
        font-family: "Indie Flower", cursive;
    }
}